.todo-container {
    padding: 25px;
    border: 2px solid white;
    width: fit-content;
    border-radius: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #333;
}

.heading {
    color: white;
    text-align: center;
}


.todo-page {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://wallpapercave.com/uwp/uwp4613334.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    gap: 50px;
}

button:hover {
    background-color: red
}

.todo {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    width: 200px;
}

.button-container {
    display: flex;
    justify-content: end;
}

.button {
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
    background-color: skyblue;
    color: black;
    border: none;
    box-shadow: 2px 2px 0px 0px white;
}