.btn{
    background-color: rgb(42, 153, 96);
    color: rgb(247, 247, 247);
    border-radius: 10px;
    margin-top: 20px;
margin-bottom: 20px;
margin-right: 10px;
margin-left: 10px;
flex-wrap: wrap;
}
.frm{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(103, 100, 96);
    border-radius: 20px;
}
.list{
    background-color: rgb(86, 81, 81);
    border-radius: 20px;
    padding: 10px;
    list-style: none;
    align-content: center;
    justify-items: center;
    margin-left: 70px;
}
